# Fisiere ignorate implicit
/shelf/
/workspace.xml
# Cereri HTTP bazate pe editor
/httpRequests/
# Fisiere de stocare locala pentru surse de date
/dataSources/
/dataSources.local.xml
node_modules
Resurse/Stiluri/backup  
temp